[Unit]
Description=Periodic rclone move for %i

[Timer]
OnBootSec=15min
OnUnitActiveSec=30min
Persistent=true
Unit=rclone-move@%i.service

[Install]
WantedBy=timers.target
